<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'layouts/page_header', header_title: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'left_sidebar', taxonomies: @taxonomies %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter_area' %>
          <div class="row">
            <%= render partial: 'product', collection: @products %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/footer_image' %>
</div>