<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>
  <body>
    <div class="main-wrapper">
      <!-- header -->
      <%= render 'layouts/header' %>
      <%= yield %>
      <!-- footer -->
      <%= render 'layouts/footer' %>
      <!-- LOGIN MODAL -->
      <%= render 'layouts/login_modal' %>
      <!-- sing up modal -->
      <%= render 'layouts/sign_up_modal' %>
      <!-- PORDUCT QUICK VIEW MODAL -->
      <%= render 'layouts/product_quick_view_modal' %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>